
html,head,body{
    direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
}

body{
    background-color: rgb(229, 245, 194);
}
.card-group{
    margin: 2;
    padding: 2;
}
.card-title{
    background-color: rgb(236, 138, 10);
    color: rgb(122, 9, 9);
}
.card{
    margin: 6;
}
.sora{
    text-align: center;
    color: darkred;

}