{% extends 'app/base.html' %}



{% block content %}

<section>
		<div class="container">
			<div class="row">
				<div class="col-md">
					<div class="card-group">
						<div class="card ">
							<div class="card-title">
								<h3>محمد صديق المنشاوي</h3>
							</div>
							<div class="card-body">
								<img class="img-fluid" src="static\images\menshawy.jpg" alt="محمد صديق المنشاوي" width="300px"
									height="300px">
							</div>

						</div><a href="{% url 'baset' %}">
						<div class="card ">
							<div class="card-title">
								<h3>عبد الباسط عبد الصمد</h3>
							</div>
							<div class="card-body">
								<img class="img-fluid" src="static\images\baset.jpg" alt="عبد الباسط عبد الصمد" width="200px"
									height="200px">
                            </div>
                        </a>

						</div>
						<div class="card ">
							<div class="card-title">
								<h3>محمود خليل الحصري</h3>
							</div>
							<div class="card-body">
								<img src="static\images\hosary.jpg" alt="محمد صديق المنشاوي" width="200px"
									height="200px">
							</div>

						</div>
						<div class="card ">
							<div class="card-title">
								<h3>محمد صديق المنشاوي</h3>
							</div>
							<div class="card-body">
								<img class="img-fluid" src="static\images\menshawy.jpg" alt="محمد صديق المنشاوي" width="200px"
									height="200px">
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



{% endblock content %}